<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd">


    <!-- static factory method spring bean instantiation returning its own class obj -->
    <bean  id="c1"  class="java.lang.Class" factory-method="forName">
          <constructor-arg value="java.util.Date"/>   <!--  giving  forName(-) method arg value -->
    </bean>
    
    <!-- static factory method spring bean instantiation returning relevant class obj -->
    <bean  id="cal"  class="java.util.Calendar" factory-method="getInstance"/>
    
    <!-- static factory method spring bean instantiation returning different  class obj -->
    <bean  id="props"  class="java.lang.System" factory-method="getProperties"/>
    
    
    <!--instance factory method spring bean instantiation returnung same  class obj -->
    <bean id="s1" class="java.lang.String">
        <constructor-arg  value="hello"/><!-- for cosntructor injection -->
    </bean>
    <bean id="s2" factory-bean="s1"  factory-method="concat">
       <constructor-arg value="123"/>  <!--  for giving contact(-) method arg value -->
    </bean>
    
     <!--instance factory method spring bean instantiation returnung different  class obj -->
    <bean id="sb" class="java.lang.StringBuffer">
        <constructor-arg  value="how are u"/>  <!-- for cosntructor injection -->
    </bean>
    <bean id="s3" factory-bean="sb"  factory-method="substring">
        <constructor-arg value="0"/><!--  for giving substring(-,-) method arg value -->
        <constructor-arg value="5"/><!--  for giving substring(-) method arg value -->
    </bean>
    
    

</beans>
