<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
             https://www.springframework.org/schema/beans/spring-beans.xsd">
             
             <!-- spring bean cfg -->
             <!-- dependent class cfg as spring bean -->
             <bean id="dt"  class="java.util.Date"/>
             
             <bean id="dt1" class="java.util.Date">
                 <property name="year" value="120"/>  <!-- adds 1900 and given 2020 (setter Injection)-->
                 <property name="month" value="8"/>
                 <property name="date" value="30"/>
             </bean>
             
             <!-- target class cfg  as spring bean -->
             <bean id="wmg"  class="com.nt.beans.WishMessageGenerator">
                  <constructor-arg name="date"  ref="dt"/>  <!-- constructor Injection -->
                  <property name="date"  ref="dt1"/>  <!-- setter Injection -->
             </bean>
           
           <bean id="st"  class="com.nt.beans.Student">
              <constructor-arg name="sno" value="1001"/>
              <constructor-arg name="sname" value="raja"/>
              <constructor-arg name="sadd" value="hyd"/>
              <property name="course" value="java"/>
              <property name="avg" value="56.78"/>
           </bean>
           
</beans>           
           