<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	
	<bean id="bankService"  class="com.nt.service.BankService">
	  <!--  <replaced-method name="calculateIntrestAmount"  replacer="ciaReplacer">
	       <arg-type>double</arg-type>
	       <arg-type>double</arg-type>
	       <arg-type>double</arg-type>
	  </replaced-method>  -->
	
	</bean>
	


</beans>
